.view__houseMembers__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-evenly;
    width: 50%
}

.error__message__on__houseMembers__page {
    color: red;
    background-color: rgb(255, 228, 228);
    padding: 2rem;
    width: 25%;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 4px;
    box-shadow: -6px 10px 8px gray;
}

