.button__div {
    text-align: center;
    padding-top: 2rem;
}

.new__member__creation__button, .view__members__button  {
    width: 10%;
    transition: all 0.1s ease-in-out;
    height: 2.5rem;
    border-radius: 20px;
    margin-right: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(to left, #2df0dc, #0093cd);
    color: white;
    font-weight: bold;
    font-size: 16px;
    box-shadow: -6px 8px 4px gray;
    border: none;
}

.view__members__button {
    margin-left: 40px;
}

.new__member__creation__button:hover, .view__members__button:hover {
    opacity: 0.9;
    color: black;
    background-image: linear-gradient(to left, #2df0dc, #2df0dc);
    transform: scale(1.1);
}

.houseMember__landingPage__description {
    margin: 0 auto;
    margin-top: 2rem;
    width: 60%;
}
