.test {
    position: relative;
    top: 125px;
}

.member__form {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
    background-color: white;
    box-shadow: -4px 8px 10px rgb(168, 168, 168);
    border-radius: 8px;
    padding: 1rem;
}

.member__form__title {
    margin: 0 auto;
    color: black;
}

.name__input, .email__input, .phoneNumber__input, .houseID__input {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.user__inputs {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.name__input input, .email__input input, .phoneNumber__input input, .houseID__input input {
    width: inherit;
    height: 1.5rem;
    font-size: inherit;
    padding: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #2df0dc;
}

.name__input input:focus, .email__input input:focus, .phoneNumber__input input:focus, .houseID__input input:focus {
    outline: none;
}

.member__form__button {
    width: 60%;
    height: 2.5rem;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(to left, #2df0dc, #0093cd);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

.error__message {
    color:red;
    margin-left: 20px;
}